vim/vim.symlink/bundle/
vim/vim.symlink/swp/
vim/vim.symlink/plugged/
git/gitconfig.symlink
todo.txt/todo.symlink
/local/
.DS_Store
vim/vim.symlink/.netrwhist
vim/syntasticthing.txt
X/awesome/current_theme
X/awesome/themes
*.pyc
pp/modules
